<form action="/payment/results">
  <div>
    <label for="otabek">APR</label>
    <input id="otabek" type="text" name="user_apr" value="6">
  </div>
  <div>
    <label for="sevara">Number of years</label>
    <input id="sevara" type="text" name="user_years" value="7">
  </div>
  <div>
    <label for="kamol">Principal</label>
    <input id="kamol" type="text" name="user_pv" value="1000">
  </div>
  <div><button>Calculate monthly payment</button></div>
</form>
