<h1>Random Results</h1>

<dl>
  <dt>Minimum</dt>
  <dd>
    <%= @num_user_min_input.round(1) %>
  </dd>

  <dt>Maximum</dt>
  <dd>
    <%= @num_user_max_input.round(1) %>
  </dd>

  <dt>Random Number</dt>
  <dd>
    <%= @num_random_result %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
