<h1>Square Root Results</h1>

<dl>
  <dt>Number</dt>
  <dd>
    <%= @num_square_root_input.round(0) %>
  </dd>

  <dt>Square Root</dt>
  <dd>
    <%= @num_square_root_result.round(1) %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
